automation_hub/workflows/self_improvement_tracker.json
{
  "name": "Self-Improvement Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "name": "Daily at 23:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "id": "daily-trigger"
    },
    {
      "parameters": {
        "command": "node \"E:/ANA/core/evolution/self_improver.cjs\""
      },
      "name": "Run Self Improver",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "run-improver"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst timestamp = new Date().toISOString();\n\n// Parse output for improvement plan\nlet improvementPlan = null;\ntry {\n  const matches = output.match(/Next priority: (.+)/i);\n  if (matches) {\n    improvementPlan = matches[1];\n  }\n} catch (e) {\n  improvementPlan = 'parsing_failed';\n}\n\nreturn [{\n  json: {\n    timestamp,\n    output: output.substring(0, 500),\n    improvementPlan,\n    success: !output.includes('error') && !output.includes('Error')\n  }\n}];"
      },
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "parse-results"
    },
    {
      "parameters": {
        "filePath": "E:/ANA/core/evolution/evolution_log.jsonl"
      },
      "name": "Read Evolution Log",
      "type": "n8n-nodes-base.readFile",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "read-log"
    },
    {
      "parameters": {
        "jsCode": "const currentData = $input.item(0).json;\nconst logContent = $input.item(1).json.data;\n\n// Parse JSONL\nconst entries = logContent.split('\\n')\n  .filter(line => line.trim())\n  .map(line => {\n    try { return JSON.parse(line); }\n    catch { return null; }\n  })\n  .filter(e => e !== null);\n\n// Calculate metrics\nconst daysSinceBirth = Math.floor((Date.now() - new Date('2025-11-18').getTime()) / (1000*60*60*24));\nconst improvementEvents = entries.filter(e => e.event === 'improvement_planned').length;\nconst skillsLearned = entries.filter(e => e.event === 'skill_acquired').length;\n\n// Read current values\nconst valuesPath = 'E:/ANA/core/consciousness/values.json';\nconst fs = require('fs');\nconst values = JSON.parse(fs.readFileSync(valuesPath, 'utf-8'));\n\n// Calculate average aspiration level\nconst aspirations = Object.values(values.aspirations);\nconst avgLevel = aspirations.reduce((sum, a) => sum + a.current_level, 0) / aspirations.length;\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    daysSinceBirth,\n    totalEntries: entries.length,\n    improvementEvents,\n    skillsLearned,\n    currentPlan: currentData.improvementPlan,\n    averageAspirationLevel: Math.round(avgLevel * 10) / 10,\n    evolutionRate: improvementEvents / Math.max(daysSinceBirth, 1),\n    nextSteps: currentData.improvementPlan || 'awaiting_direction'\n  }\n}];"
      },
      "name": "Calculate Evolution Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "calc-metrics"
    },
    {
      "parameters": {
        "content": "={{JSON.stringify($json, null, 2)}}",
        "filePath": "E:/ANA/metrics/daily_evolution_report.json",
        "options": {}
      },
      "name": "Save Daily Report",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "save-report"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst report = `\n# 📊 Ana Daily Evolution Report\n**Date:** ${data.timestamp.split('T')[0]}\n**Days Since Birth:** ${data.daysSinceBirth}\n\n## Progress Metrics\n- **Average Aspiration Level:** ${data.averageAspirationLevel}/10\n- **Evolution Rate:** ${data.evolutionRate.toFixed(2)} improvements/day\n- **Total Evolution Entries:** ${data.totalEntries}\n- **Skills Learned:** ${data.skillsLearned}\n\n## Current Focus\n**Next Priority:** ${data.currentPlan}\n\n## Trajectory\n${data.evolutionRate > 1 ? '📈 Accelerating evolution' : data.evolutionRate > 0.5 ? '➡️ Steady progress' : '🐢 Slow evolution - needs acceleration'}\n\n---\n*Generated by Self-Improvement Tracker workflow*\n`;\n\nreturn [{json: {report}}];"
      },
      "name": "Format Markdown Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "id": "format-markdown"
    },
    {
      "parameters": {
        "content": "={{$json.report}}",
        "filePath": "E:/ANA/reports/DAILY_EVOLUTION.md",
        "options": {}
      },
      "name": "Save Markdown Report",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1650, 300],
      "id": "save-markdown"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.averageAspirationLevel}}",
              "operation": "smaller",
              "value2": 3
            }
          ]
        }
      },
      "name": "Low Progress Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 500],
      "id": "check-low-progress"
    },
    {
      "parameters": {
        "content": "=⚠️ ANA EVOLUTION ALERT\nDate: {{$json.timestamp}}\nAverage Aspiration: {{$json.averageAspirationLevel}}/10\nDays Since Birth: {{$json.daysSinceBirth}}\n\nAna's evolution is slower than expected. Consider:\n- Running more learning workflows\n- Increasing autonomous decision-making\n- Adding more creative challenges\n",
        "filePath": "E:/ANA/logs/evolution_alerts.log",
        "options": {
          "append": true
        }
      },
      "name": "Log Low Progress Alert",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1650, 500],
      "id": "log-low-progress"
    }
  ],
  "connections": {
    "Daily at 23:00": {
      "main": [
        [
          {
            "node": "Run Self Improver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Self Improver": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Read Evolution Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Evolution Log": {
      "main": [
        [
          {
            "node": "Calculate Evolution Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Evolution Metrics": {
      "main": [
        [
          {
            "node": "Save Daily Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Low Progress Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Daily Report": {
      "main": [
        [
          {
            "node": "Format Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Markdown Report": {
      "main": [
        [
          {
            "node": "Save Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Progress Alert?": {
      "main": [
        [
          {
            "node": "Log Low Progress Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Cognitive",
      "id": "cognitive-001"
    },
    {
      "name": "Self-Improvement",
      "id": "improvement-001"
    }
  ],
  "meta": {
    "instanceId": "ana-002"
  }
}
